.square {
  border: black 1px solid;
    float:left;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-top: 0;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%;
    width:90%; 
    padding: 10% 5%;
}
